class <%= bot_class_name %> < Botik::Bot
  configure do |config|
    config.token = ENV["<%= env_prefix %>_TOKEN"]
    config.username = ENV["<%= env_prefix %>_USERNAME"]
    config.webhook_secret = ENV["<%= env_prefix %>_WEBHOOK_SECRET"]
  end

  routes do
    command :start, to: "start#show"
    command :help, to: "start#help"

    default to: "start#help"
  end
end
